body{
  font-family: 'Lato', serif;
  font-size: large;
}
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content{
  flex: 1;
}
.main-content {
  margin-top: -40px;
}

.header{
  background: url('./assets/images/toronto6.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  min-height: 500px;;
  padding-top: 180px;
  padding-bottom: 100px;
  padding-left: 2rem;
}

.navbar{
  background: $alt-bg;
  border-bottom: 3px solid $accent;
  top: 1.5rem;
  .navbar-nav .nav-link {
    color: $alt-color;
    padding: 1rem 0.5rem;
    transition: color 0.2s ease-in;
    &.active {
      color: $accent;
      font-weight: bold;
    }
    &:hover:not(.active) {
      color:rgba($alt-color, 0.75);
    }
  }
  .dropdown:hover>.dropdown-menu{
    display: block;
  }
 .dropdown{
   .dropdown-menu{
     .dropdown-divider{
       border-color: #9f1d22;
     }
   }
 }
}

.welcome{
  background-color: $alt-bg;
  overflow: hidden;
  margin-bottom: 2rem;
  h1{
    padding: 1rem;
    text-align:center;
    color:$alt-color;
  }
  h3{
    padding: 1rem;
    text-align:center;
    color:$alt-color;
  }
  hr{
    width: 70%;
border-width: 2px;
}
  p{
    padding-bottom:1rem;
  }
  .services{
    display:inline-block;
    ul{
      li{
        list-style-type: none;
        .test{
          padding-right: 5px;
        }
        i{
          padding-right: 2px;
        }
      }
    }
  }
}





.footer{
  position: relative;
  bottom: 1.25rem;
  color: $alt-color;
  border-top: 3px solid $accent;
  background-color: $alt-bg;
  p{
    padding-top: 1.25rem;
  }
  .social-icons{
    li {
      display: inline-block;
      list-style:none;
      a {
        padding:0.75rem 1rem;
        text-align: center;
        transition: color 0.2s ease-in;
        &:hover {
          color: $accent;
        }
      }
    }

  }
}

.choose{
  margin-bottom: 2rem;
  h3{
    padding: 1rem;
    text-align: center;
    color:$alt-color;
  }
  color:$body-color;
  background-color:$alt-bg;
  .mat-card{
    margin: 1rem;
    .mat-card-header-text{
      margin:0rem;
    }
    .mat-card-content{
      p{
        color:$body-color;
      }
    }
  }
}
