<div class="row">
  <mat-card class="col-12">
    <h4>Contact Information</h4>
  </mat-card>
</div>
<mat-divider class="my-3"></mat-divider>
<div class="row mb-5">
  <div class="col-12 col-md-4">
    <address>
      <p><strong>idorenovations</strong></p>
      <p>Toronto</p>
      <p>Ontario</p>
    </address>
    <address>
      <p><strong>Email</strong></p>
      <a class="accent-color" href="mailto:info@idorenovations.com">info@idorenovations.com</a>
    </address>
  </div>
  <div class="col-12 col-md-8">
    <form ngNoForm action="https://formspree.io/info@idorenovations.com" method="POST">
      <mat-form-field class="full-width mb-2">
        <input matInput type="email" placeholder="Your Email" name="_replyto" required>
      </mat-form-field>
      <mat-form-field class="full-width mb-2">
        <input matInput placeholder="subject" name=" subject" required>
      </mat-form-field>
      <mat-form-field class="full-width mb-2">
        <textarea matInput placeholder="message" name="message" required></textarea>
      </mat-form-field>
      <button mat-stroked-button type="sumbit">Send Message</button>
    </form>
  </div>
</div>
