<div class="row">
  <mat-card class="col-12">
    <h4>Contact Information</h4>
  </mat-card>
</div>
<mat-divider class="my-3"></mat-divider>
<div class="row mb-5">
  <div class="col-12 col-md-4">
    <address>
      <p><strong>IDO RENOVATIONS</strong></p>
      <p>Toronto</p>
      <p>Ontario</p>
    </address>
    <address>

      <a class="accent-color" href="mailto:info@idorenovations.com">info@idorenovations.com</a>

      <p>6473355507</p>
    </address>
  </div>
  <div class="col-12 col-md-8">
    <form ngNoForm action="https://formspree.io/info@idorenovations.com" method="POST">
      <mat-form-field class="full-width mb-2">
        <input matInput type="email" placeholder="Your Email" name="_replyto" required>
      </mat-form-field>
      <mat-form-field class="full-width mb-2">
        <input matInput placeholder="subject" name=" subject" required>
      </mat-form-field>
      <mat-form-field class="full-width mb-2">
        <textarea matInput placeholder="message" name="message" required></textarea>
      </mat-form-field>
      <button mat-stroked-button type="sumbit">Send Message</button>
    </form>
  </div>
</div>

<div class="container map">
  <div class="col-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.744353949898!2d-79.4564066850479!3d43.715861579119164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b332b2d303809%3A0xc5cb166596e62c42!2s3091%20Dufferin%20St%2C%20Toronto%2C%20ON%20M6A%200C4!5e0!3m2!1sen!2sca!4v1576020446881!5m2!1sen!2sca"
     width="600" height="450" frameborder="0" style=" width: 100%; border:0;" allowfullscreen=""></iframe>
  </div>



</div>

<div class="container d-md-none d-lg-none d-xl-none mb-5">
  <a href="tel:6473355507">
  <button class="btn btn-danger" style="width: 100%;"><i class="fas fa-phone-alt mr-2"></i>Call Us</button>
</a>
</div>
