
<div class=" info container">
    <mat-card>
  <h3><strong>Who Are We?</strong> </h3>
  <P>IDO Renovations has gained healthy experience in all types of home renovation jobs resulting in a remarkable reputation within the GTA.
     We are always dedicated to understanding your requirements and converting them into a reality through our expert solutions.
      All our projects are guaranteed to meet your expectations..</P>

    <h5><strong>Excellent Results with No Hassle</strong></h5>
    <p>
        Home improvement projects including basement finish, kitchen and bathroom conversion, finished carpentry, and painting services offered by IDO Renovations are done with precision to satisfy customers’ expectations. We use high-quality materials and the best technology to deliver perfect results.
         Through always abiding by safety measures, we ensure minimal disruption and a stress-free renovation experience.
    </p>
    <hr>

    <h5><strong>No Unexpected Expenses</strong></h5>
    <p>Prior to starting any project, we make sure to accurately evaluate the requirements of the client,
       inspect the site appropriately, and prepare an all-inclusive and detailed quote that discloses all expenses. As a result,
       the committed team at IDO Renovations always completes the job within the scheduled time.
      </p>
      <hr>
      <h5><strong>Flexible and Prompt Customer Service </strong></h5>
      <p>
          Our priority is to understand and perform to our customers’ expectations.
           We will always take the time to understand your needs and suggest the most appropriate solution that meets the highest possible standards.
      </p>
      <hr>
      <h5><strong>Free Estimates</strong></h5>
      <p>There is no obligation when discussing your next project with us.
         Feel free to ask any questions you have about your upcoming project and we will share our best advice.
      </p>
      <hr>
      <p>We are registered and covered under the Workplace Safety and Insurance Board and carry 2 Million Liability Insurance.</p>
    </mat-card>
    </div>



