
<div class=" info container">
    <mat-card>
  <h3><strong>Who Are We?</strong> </h3>
  <P>IDO Renovations has achieved a remarkable reputation in the GTA and has also gained healthy experience in all types of home renovation jobs.
     We are always dedicated to understanding your requirements and converting them into a reality through our expert solutions.
    All our works are guaranteed to meet your expectations.</P>

    <h5><strong>Guaranteed Personal Services, From Start to Finish</strong></h5>
    <p>Home improvement projects including basement finish, kitchen and bathroom conversion, finished carpentry, and painting
    services offered by IDO Renovations are done with precision to satisfy the demanding needs of our customers.
        We only use the best technology and high quality materials to deliver
         perfect results.
         We complete our job with minimal disruption and needed safety measures
          to make the process stress free.
    </p>
    <hr>

    <h5><strong>No Unexpected Expenses</strong></h5>
    <p>The committed team at IDO Renovations always completes the job within the scheduled
       time and minimizes the unexpected expenses associated with the project process.
        Prior to  implementing the project, we accurately evaluate the exact requirements of the client,
         inspect the site appropriately,
       and prepare an all-inclusive, detailed quote that helps to cut down unanticipated expenses.
      </p>
      <hr>
      <h5><strong>Flexibility and Prompt Customer Service</strong></h5>
      <p>
          We provide you with a flexible site evaluation and prompt customer service at all times.
           We try to take the time to listen to your needs and expectations and suggest the most appropriate solution that
            meets the highest possible standards.
      </p>
      <hr>
      <h5><strong>Satisfaction Guaranteed</strong></h5>
      <p>IDO Renovations is extensively experienced. That’s why, we are able to understand
         the complexities and potential issues that could occur in any part of the project.
          Considering this challenge, we give our customers the convenience to enjoy
           a ten year work guarantee for completed projects. In addition to having WSIB, we provide adequate insurance
            coverage of up to $2 million for clients based in Ontario.
      </p>
    </mat-card>
    </div>



