
<div class="container info">
    <mat-card>
  <h3>Who Are We?</h3>
  <P>idorenovations has achieved a remarkable reputation in the industry and has also gained healthy experience in all types of home renovations jobs. We are always dedicated to understanding your potential requirements and convert it into a reality through our expert solutions.
    All our works are guaranteed to exceed industry standards and building construction criteria set forth by the local authorities.</P>

    <h4><i class="fas fa-arrow-right mx-1"></i>Guaranteed Personal Services, From Start to Finish</h4>
    <p>Home improvement and home refurbishment projects including loft conversion and kitchen
      extension services offered by House Renovation London are done with precision to make sure
       that the proposed design satisfies the demanding needs of our customers in South London.
        We are passionate to use only the best technology and high quality materials to deliver
         the perfect results.

        No matter what we do, we strive to preserve the privacy and security of your home.
         We complete our job with minimal disruption and ensure to install all needed safety measures
          to make the process exceptionally stress free.
    </p>

    <h4><i class="fas fa-arrow-right mx-1"></i>No Hidden Cost, No Unexpected Expenses</h4>
    <p>The committed team at House Renovation London always completes the job within the pre-scheduled
       deadline and minimises the unexpected expenses associated with the construction process.
        Prior to the job, we accurately evaluate the exact requirements of the client,
         inspect the site appropriately,
       and prepare an all-inclusive, detailed quote that helps to cut down unanticipated expenses.
      </p>
      <h4><i class="fas fa-arrow-right mx-1"></i>Flexibility and Prompt Customer Service</h4>
      <p>
          We provide you with an added bonus of a flexible site evaluation and prompt customer service at all times.
           We endeavour to take the time to listen to your needs and suggest the most viable solution that
            meets the highest possible standards.
      </p>
      <h4><i class="fas fa-arrow-right mx-1"></i>Satisfaction Guaranteed</h4>
      <p>House Renovation London is extensively experienced and that’s why we are able to understand
         the complexities and potential issues that could occur as part of any loft conversion or kitchen
          extension project. Considering this challenge, we give our customers the convenience to enjoy
           a 10 year work guarantee for completed projects. Moreover, we provide adequate insurance
            coverage of up to £5 million for clients based in the London boroughs of Kensington & Chelsea,
             Hammersmith & Fulham, Westminster, Camden, Southwark, Lambeth, Wandsworth, Merton, Barnes,
              Kingston upon Thames and Richmond.
      </p>
    </mat-card>
    </div>



