
<div class=" welcome container">
  <h1><strong>Welcome to idorenovations!</strong></h1>
  <div class="col-12">
    <p style="text-align: center; font-size: 20px;">
        We are a group of commited, experienced and professional renovation specialists in the GTA, whose main priority is customer satisfaction.
        We guarantee that our work meets your expectations within an affordable bugdet and planned time span.

  </p>
  </div>

  <hr>




  <div class="container">

  <ngb-carousel *ngIf="items">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="items[0]" style= "height: 500px; width: 100%;" alt="Random first slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="items[1]" style= "height: 500px; width: 100%;" alt="Random second slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="items[2]"  style= "height: 500px; width: 100%;" alt="Random third slide">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>









  <hr>
<div>
  <h3><strong>Our Services</strong> </h3>
  <h4><p style="text-align: center;"> Bring more value and beauty into your home with our services</p></h4>
    <div class="col-12 col-sm-6 services ">
      <ul>
        <li><i class="fas fa-coffee accent-color"></i>Kitchen Renovations</li>
        <li><i class="fas fa-bath accent-color"></i>Bathroom Renovations</li>
        <li><i class="fas fa-home accent-color"></i>Basement Renovaions</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 float-right services">
        <ul>
            <li><i class="fas fa-hammer accent-color"></i>Finished Carpentary</li>
            <li><i class="fas fa-brush accent-color"></i>Exterior Painting</li>
            <li><i class="fas fa-paint-roller accent-color"></i>Interior Painting</li>
         </ul>
    </div>
</div>


<div class="choose">
<h3><strong>Why Should You Choose Us?</strong></h3>
  <div class="row">
  <div class="col-12 col-md-6 col-lg-4">
      <mat-card class="example-card">
          <mat-card-header>
            <i mat-card-avatar class="fas fa-check-circle accent-color"></i>
            <mat-card-title><strong>We price match</strong></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
               <strong> Found a cheaper price? Tell us and we’ll match it</strong>
            </p>
          </mat-card-content>
        </mat-card>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
      <mat-card class="example-card">
          <mat-card-header>
              <i mat-card-avatar class="fas fa-check-circle accent-color"></i>
            <mat-card-title><strong>No Subcontractor</strong></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
                <strong>Dealing with one person form concept to completion, we have no sales people</strong>
            </p>
          </mat-card-content>
        </mat-card>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
      <mat-card class="example-card">
          <mat-card-header >
              <i mat-card-avatar class="fas fa-check-circle accent-color"></i>
            <mat-card-title  style="text-align: center;"><strong>Experience</strong></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p style="text-align: center;">
                <strong> Clients have confidence in our knowledge and expertise</strong>
            </p>
          </mat-card-content>
        </mat-card>
  </div>
</div>
</div>

