<div class="services container mb-5 text-center">
  <mat-card>
    <h3><strong>IDO Renovations offers quality services!</strong></h3>
    <p> Home is your world. We recognize the importance of a beautiful home, and the role it plays on our happiness and wellbeing,
      which is why we work tirelessly to achieve the highest standards.</p>
      <p>With IDO Renovations, transform your house into a comfortable place where you can relax and enjoy your
        moments with your family and friends. With our work, not only can the value of your house increase, but you will also fall in love with every change we bring
        to your house.
      </p>

      <hr>


           <div class="row mt-5" id="kitchen">
             <div class="col-12 col-md-6 mb-4">
               <img src="./assets/images/remodelling.jpg" class=" rounded img-fluid" alt="Responsive image">
            </div>
             <div class="col-12 col-md-6">
               <h2>Kitchen Renovations</h2>
               <p>we will complete projects of all sizes to beautify your kitchen.
                  Our focused team will pay attention to details to bring the transformations you desire.</p><p>
                  Our experience shows when you decide to remodel your kitchen, keep in mind that the layouts of your cabinets,addition of any appliances
                and material of your flooring and coutertops play a key role in saving your time and budget. </p>
                  <button mat-stroked-button class="text-center"><a href="/contact">Contact Us</a></button>
             </div>
           </div>

           <hr class=" d-md-none d-lg-none d-xl-none">

           <div class="row mt-5" id="bathroom">
             <div class="col-12 col-md-6">
               <h2>Bathroom Renovations</h2>
               <p>You don't have to live with an outdated bathroom.
                  Our skillful team assure to handle renovation projects of any size in your bathroom which will meet your satisfaction criteria.
                </p><p>Our services ranging from minor changes to full bathroom renovations include:</p>
                <ul style="list-style: none;">
                  <li>Backsplashes</li>
                  <li>Flooring</li>
                  <li>Plumbing</li>
                  <li>Bathroom Vanities</li>

                </ul>
                <button mat-stroked-button class="mb-5" style="margin-left: 55px;"><a href="/contact">Contact Us</a></button>
             </div>
             <div class="col-12 col-md-6 mb-4">
                <img src="./assets/images/bathroom.jpg" class="rounded img-fluid" alt="Carpentary">
             </div>
           </div>

           <hr class=" d-md-none d-lg-none d-xl-none">

           <div class="row mt-5" id="basement">
              <div class="col-12 col-md-6 mb-4">
                <img src="./assets/images/basement.jpg" class=" rounded img-fluid" alt="Responsive image">
             </div>
              <div class="col-12 col-md-6">
                <h2>Basement Renovations</h2>
                <p>If you ever decide to renovate your basement or change it into a comfortable study room, entertainment area or an additional bedroom,
                  don't hesitate to consider the renovation services of our committed team.
                </p>
                   <button mat-stroked-button><a href="/contact">Contact Us</a></button>
              </div>
            </div>

            <hr class=" d-md-none d-lg-none d-xl-none">


            <div class="row mt-5" id="carpentary">
              <div class="col-12 col-md-6">
                <h2>Finished Carpentry</h2>
                <p>In woodwork, we pay attention to details of your home design,
                   so we make sure to create a flawless woodwork which will
                  perfectly match with your entire home design.
                  we will take care of your:
                 </p>
                 <ul style="list-style: none;">
                    <li>Trim</li>
                    <li>Doors</li>
                    <li>Windows</li>
                    <li>Baseboard</li>
                  </ul>
                 <button mat-stroked-button class="mb-5"><a href="/contact">Contact Us</a></button>
              </div>
              <div class="col-12 col-md-6 mb-4">
                 <img src="./assets/images/finished.jpg" class="rounded img-fluid" alt="Carpentary">
              </div>
            </div>

            <hr class=" d-md-none d-lg-none d-xl-none">


            <div class="row mt-5" id="exterior">
              <div class="col-12 col-md-6">
                <img src="./assets/images/exterior.png" class=" rounded img-fluid" alt="Responsive image">
             </div>
              <div class="col-12 col-md-6">
                <h2>Exterior Painting</h2>
                <p> An excellent exterior painting can give a unique look to your house.
                  Our skillful team can add this important quality to your house
                   and complete this higly riskful and stressful job safely and smoothly for you.
                  </p>
                   <button mat-stroked-button><a href="/contact">Contact Us</a></button>
              </div>
            </div>

            <hr class=" d-md-none d-lg-none d-xl-none">


            <div class="row mt-5" id="interior">
              <div class="col-12 col-md-6">
                <h2>Interior Painting</h2>
                <p>
                    Our expert team can recommend the right color to match perfectly with
                   your home design. With speed and experience, we complete your painting project the way you love.
                   We handle any size of painting project from a single room to entire home.</p>

                 <button mat-stroked-button class="mb-5"><a href="/contact">Contact Us</a></button>
              </div>
              <div class="col-12 col-md-6 mb-4">
                 <img src="./assets/images/interior1.jpg" class="rounded img-fluid" alt="Carpentary">
              </div>
            </div>





  </mat-card>
</div>

