<div class="services container mb-5 text-center">
  <mat-card>
    <h3><strong>IDO Renovations Offers Quality Services!</strong></h3>
    <p> Design the perfect space to enjoy time and relax with loved ones by creating the home you always imagined. IDO Renovations recognizes the importance of a beautiful home which is why we work tirelessly to achieve the highest standards.
       With our work, not only will you fall in love with the changes we bring into your home, but also the value of your house will increase.
      </p>

      <hr>


           <div class="row mt-5" name="kitchen">
             <div class="col-12 col-md-6 mb-4">
               <img src="./assets/images/remodelling.jpg" class=" rounded img-fluid" alt="Responsive image">
            </div>
             <div class="col-12 col-md-6">
               <h2>Kitchen Renovations</h2>
               <p>We complete projects of all sizes to upgrade and beautify your kitchen. Our focused team pays attention to detail in order to deliver on the transformations you desire.</p>
               <p>
                  Experience shows, when you remodel your kitchen knowing the layout of your cabinets, addition of appliances, and the material of your flooring and countertops play a key role in saving your money and time.
                   Our expert team can advise in choosing the best options for your kitchen.
                   </p>
                  <button mat-stroked-button class="text-center"><a href="/#/contact">Contact Us</a></button>
             </div>
           </div>

           <hr class=" d-md-none d-lg-none d-xl-none">

           <div class="row mt-5" id="bathroom">
             <div class="col-12 col-md-6">
               <h2>Bathroom Renovations</h2>
               <p>Enjoy an upgrade to your bathroom. Our skillful team handles bathroom renovation projects of any size which will meet your satisfaction criteria.
                </p><p>Our services, from minor changes to full bathroom renovations include:</p>
                <ul style="list-style: none;">
                  <li>Backsplashes</li>
                  <li>Flooring</li>
                  <li>Plumbing</li>
                  <li>Bathroom Vanities</li>

                </ul>
                <button mat-stroked-button class="mb-5" style="margin-left: 55px;"><a href="/#/contact">Contact Us</a></button>
             </div>
             <div class="col-12 col-md-6 mb-4">
                <img src="./assets/images/bathroom.jpg" class="rounded img-fluid" alt="Carpentry">
             </div>
           </div>

           <hr class=" d-md-none d-lg-none d-xl-none">

           <div class="row mt-5" id="basement">
              <div class="col-12 col-md-6 mb-4">
                <img src="./assets/images/basement.jpg" class=" rounded img-fluid" alt="Responsive image">
             </div>
              <div class="col-12 col-md-6">
                <h2>Basement Renovations</h2>
                <p>Don't hesitate to consider the renovation services of our committed team when deciding to renovate your basement by changing it into a comfortable study room, entertainment area or an additional bedroom.
                </p>
                   <button mat-stroked-button><a href="/#/contact">Contact Us</a></button>
              </div>
            </div>

            <hr class=" d-md-none d-lg-none d-xl-none">


            <div class="row mt-5" id="carpentry">
              <div class="col-12 col-md-6">
                <h2>Finished Carpentry</h2>
                <p>We pay attention to the details of your home to create flawless woodwork which will perfectly match with your entire home design. We will take care of your:
                 </p>
                 <ul style="list-style: none;">
                    <li>Trim</li>
                    <li>Doors</li>
                    <li>Windows</li>
                    <li>Baseboard</li>
                  </ul>
                 <button mat-stroked-button class="mb-5"><a href="/#/contact">Contact Us</a></button>
              </div>
              <div class="col-12 col-md-6 mb-4">
                 <img src="./assets/images/finished.jpg" class="rounded img-fluid" alt="Carpentary">
              </div>
            </div>

            <hr class=" d-md-none d-lg-none d-xl-none">


            <div class="row mt-5" id="exterior">
              <div class="col-12 col-md-6">
                <img src="./assets/images/exterior.png" class=" rounded img-fluid" alt="Responsive image">
             </div>
              <div class="col-12 col-md-6">
                <h2>Exterior Painting</h2>
                <p>Exterior painting gives a fresh and unique look to your home. Keep your home looking well-kept and protect it from weather elements by painting the exterior of your home. Our skillful team will make sure a professional exterior paint job is completed safely and smoothly.
                  </p>
                   <button mat-stroked-button><a href="/#/contact">Contact Us</a></button>
              </div>
            </div>

            <hr class=" d-md-none d-lg-none d-xl-none">


            <div class="row mt-5" id="interior">
              <div class="col-12 col-md-6">
                <h2>Interior Painting</h2>
                <p>
                    Our expert team can recommend the right colour to match perfectly with your home design.
                     With speed and experience, we will complete your painting project the way you love.
                     We handle any size of projects from a single room to an entire home.
                  </p>

                 <button mat-stroked-button class="mb-5"><a href="/#/contact">Contact Us</a></button>
              </div>
              <div class="col-12 col-md-6 mb-4">
                 <img src="./assets/images/interior1.jpg" class="rounded img-fluid" alt="Carpentry">
              </div>
            </div>





  </mat-card>
</div>

