<div class="services container mb-5">
  <mat-card>
    <h3><strong>idorenovations offers quality services!</strong></h3>
    <h5><strong> home is your world, we recognise the importance of a beautiful home, and the role it plays on our happiness and wellbeing,
      which is why we work tirelessly to achieve the highest standards.</strong></h5>
      <p>With London residential property prices rising with its exponential demand,
        many more are opting to add extensions to their homes. It can be overwhelming to
         get planning permissions in London to build your ideal home. But fear not! Our
          professional team is here to help you. Our core vision is to create high quality,
         long-term reliable structures that will enable you to enjoy your home for as long as you need.</p>


           <div class="row mt-5" id="remodelling">
             <div class="col-12 col-md-4">
               <img src="./assets/images/remodelling.jpg" class=" rounded img-fluid" alt="Responsive image">
            </div>
             <div class="col-12 col-md-8">
               <h2>Remodelling</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, laboriosam iusto.
                  Ratione officiis nobis expedita recusandae hic ut eius corporis id
                  perferendis! Sapiente fuga praesentium accusantium, magnam dolores tempore facilis!</p>
                  <button mat-stroked-button><a href="/contact">Contact Us</a></button>
             </div>
           </div>

           <div class="row mt-5" id="carpentary">
             <div class="col-12 col-md-8">
               <h2>Carpentary</h2>
               <p>Lorem ipsum, dolor sit amet consectetur
                  adipisicing elit. Error, dicta consectetur rem natus iure vero laboriosam laborum
                   architecto eveniet est facilis deleniti ad dignissimos! Quas, sit. Voluptatem voluptatum quas unde.
                </p>
                <button mat-stroked-button class="mb-5"><a href="/contact">Contact Us</a></button>
             </div>
             <div class="col-12 col-md-4">
                <img src="./assets/images/carpentary.jpg" class="rounded img-fluid" alt="Carpentary">
             </div>
           </div>

           <div class="row mt-5" id="painting">
              <div class="col-12 col-md-4">
                <img src="./assets/images/painting.jpg" class=" rounded img-fluid" alt="Responsive image">
             </div>
              <div class="col-12 col-md-8">
                <h2>Painting</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, laboriosam iusto.
                   Ratione officiis nobis expedita recusandae hic ut eius corporis id
                   perferendis! Sapiente fuga praesentium accusantium, magnam dolores tempore facilis!</p>
                   <button mat-stroked-button><a href="/contact">Contact Us</a></button>
              </div>
            </div>



  </mat-card>
</div>

