<div class="site">
  <div class="site-content">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark">



            <a class="navbar-brand">
              <img src="./assets/images/logo.jpg" style="height: 40px; width: 80px;" alt="">
            </a>

              <button class="navbar-toggler" type="button"
              (click)="toggleNavbar()" style="color: black;">
        <span class="navbar-toggler-icon"> <i class="fas fa-bars" style="color:red; font-size:28px;"></i></span>
      </button>


      <div class="collapse navbar-collapse"
      [ngClass]="{ 'show': navbarOpen }">
              <ul class="nav navbar-nav ml-auto" >


                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
                      Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">
                     About</a>
                  </li>
                  <li ngbDropdown class="nav-item dropdown">
                      <a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false" [routerLink]="['/services']" routerLinkActive="active">
                      Services <span class="caret"></span>
                       </a>
                      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/#/services#kitchen"> Kitchen Renovations</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/#/services#bathroom"> Bathroom Renovations</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/#/services#basement"> Basement Renovations</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/#/services#carpentry">Finished Carpentry</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/#/services#exterior">Exterior Painting</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/#/services#interior">Interior Painting</a>

                      </div>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">
                        Contact</a>
                  </li>
              </ul>
            </div>





    </nav>
  </div>
    <div class="header">
      <h1 Style="text-align: center; color: white;">Serving throughout the GTA</h1>
    </div>
    <main class="main-content container">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="footer container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <p>Copyright © 2019 idorenovations</p>
      </div>
      <div class="col-12 col-sm-6">
        <ul class="social-icons float-right">
          <li><a class="fab fa-facebook"></a></li>
          <li><a class="fab fa-instagram"></a></li>
          <li><a class="fas fa-envelope-open-text"></a></li>
        </ul>
      </div>
  </div>
  </footer>
</div>
