<div class="site">
  <div class="site-content">
    <div class="container">
      <nav class="navbar navbar-expand navbar-dark">


              <a href="/home" class="navbar-brand" style="color: black;">idorenovations</a>


              <ul class="nav navbar-nav ml-auto">

                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
                      Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">
                     About</a>
                  </li>
                  <li ngbDropdown class="nav-item dropdown">
                      <a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false" [routerLink]="['/services']" routerLinkActive="active">
                      Services <span class="caret"></span>
                       </a>
                      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/services#remodelling"> Kitechen Renovations</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/services"> Bathroom Renovations</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/services"> Basement Renovations</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/services#carpentary">Finished Carpentary</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/services#painting">Exterior Painting</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/services#painting">Interior Painting</a>

                      </div>
                    </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">
                        Contact</a>
                  </li>
              </ul>





    </nav>
  </div>
    <div class="header">
      <h1>House renovations</h1>
      <h2>Live the life you deserve!</h2>
    </div>
    <main class="main-content container">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="footer container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <p>Copyright © 2019 idorenovations</p>
      </div>
      <div class="col-12 col-sm-6">
        <ul class="social-icons float-right">
          <li><a class="fab fa-facebook"></a></li>
          <li><a class="fab fa-instagram"></a></li>
          <li><a class="fas fa-envelope-open-text"></a></li>
        </ul>
      </div>
  </div>
  </footer>
</div>
